.HeroProgramCircle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #FFFFFF;
    width: 250px;
    height: 250px;
}
.HeroProgramCircle p{
    font-family: Roboto, sans-serif;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    color: #121212;
    font-size: 6.5em;
    font-weight: 900;
}
.HeroProgramTitleHolder{
    position: absolute;
    left: 270px;
    height: 250px !important;
}
.HeroProgramTitle{
    width: 55vw;
    font-size: 4em;
    line-height: 1em;
}
