.ApplyButton h1{
    font-size: 5em !important;
}
.HeroText1 {
    font-size: 6vw;
}
.CarouselValue_Holder{
    width: 100vh;
}

.CarouselTest {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.CarouselBanner h2{
    font-size: 2.5em !important;
}
.CarouselBanner p{
    font-size: 1.5em !important;
}
.carousel-inner h1{
    position: absolute;
    top: 40%;
    color: white;
    font-size: 7em;
    font-weight: 200;
}
.carousel-inner h2{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 5em;
    font-weight: 200;
}
.aumblog_PostContainer{
    background-color: #FFFFFF;
    width: 75%;
    padding: 50px;
}
.aumblog_Title{
    font-size: 3em;
}
.HeroGeneralText {
    font-size: 2em;
}
.HeroGeneralMidTitle_rich {
    font-size: 4em;
}
.HeroProgramCircle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
}
.HeroProgramCircle p{
    font-family: Roboto, sans-serif;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #121212;
    font-size: 5em;
    font-weight: 900;
}
.HeroProgramTitleHolder{
    position: absolute;
    left: 220px;
    height: 200px !important;
}
.HeroProgramTitle{
    width: 55vw;
    font-size: 3.5em;
    line-height: 1em;
}
.HeroProgramTitle_Normal{
    width: 55vw;
    font-size: 3em;
    line-height: 1em;
}
.HeroProgramTitle h2{
    font-size: 2.5em;
}
.HeroProgramTitle p{
    width: 45vw;
    font-size: 1em;
    line-height: 1em;
}
.HeroProgramText {
    font-size: 2em;
    width: 90%;
}
.SeparatorTwoColumns_dark{
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #121212;
}
.SeparatorTwoColumns_white{
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #ffffff;
}

.SeparatorTwoColumns_inv_dark{
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #121212;
}
.SeparatorTwoColumns_inv_white{
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #ffffff;
}

.TalkAdmission_holder{
    font-size: 0.7em;
    cursor: pointer;
}
.TalkAdmission_icon{
    width: 80px;
    height: 80px;
    margin-right: 0px;
}
.TalkAdmission_big{
    width: 120px;
}
.TalkAdmission_text{
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 1em;
    margin-bottom: 5px;
    width: 90%;
}
.TalkAdmission_text strong{
    font-weight: 900;
}

.SidButtonMini_icon{
    width: 50px;
    height: 50px;
    margin-right: 0px;
}
.SidButtonMini_text{
    width: 90%;
}
.CyanSection_CirculoMiniBlanco {
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 0.8em;
    font-weight: 200;
    font-size: 1em;
}

.CyanSection_CirculoMiniBlanco strong{
    font-weight: 700;
}

.HeroProfessorCircle {
    position: absolute;
    top: 120px;
    right: 0px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #ce1731;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}
.HeroProfessorTitleHolder{
    position: absolute;
    left: 0px;
    height: 320px !important;
    font-size: 1em;
}
.HeroProfessorText{
    font-size: 2em;
    line-height: 1em;
    /*margin-top: 90px;*/
    /*font-weight: 300!important;*/
    width: 60%;
}
.HeroProfessorCircle2 {
    width: 300px;
    height: 300px;
}
.HeroProfessorCircle2 p{
    width: 300px;
    height: 300px;
    line-height: 300px;
    font-size: 6.5em;
}