* {
    /* poner la font */
    font-family: 'Muli', sans-serif;
}
body {
    /*font-family: 'Muli', sans-serif;*/
    background-color: #ffffff;
}

b {
    font-weight: 900!important;
}
.IsButton:hover{
    cursor: pointer;
}
.Space-nano{
    height: 10px;
}
.Space-mini{
    height: 25px;
}
.Space-xsmall{
    height: 50px;
}
.Space-small{
    height: 100px;
}
.Space-medium{
    height: 200px;
}
.Space-large{
    height: 400px;
}
.SpaceMin-400{
    min-height: 400px;
}
.Space-600{
    height: 600px;
}
.Space-500{
    height: 500px;
}
.Space-400{
    height: 400px;
}
.Space-300{
    height: 300px;
}
.Space-200{
    height: 200px;
}
.Space-100{
    height: 100px;
}
.Space-50{
    height: 50px;
}
.Space-25{
    height: 25px;
}
.Space-20{
    height: 20px;
}
.Space-10{
    height: 10px;
}
.Space-400{
    height: 400px;
}

.darkgreyAUM{
    color: #4a4b45;
}
.greyAUM{
    color: #A9ACA0;
}
.blackAUM{
    color: #121212;
}
.blackAUM_force{
    color: #121212!important;
}
.whiteAUM_force{
    color: #ffffff!important;
}
.blueAUM{
    color: #084b85;
}
.redAUM{
    color: #ce1731;
}
.cyanAUM{
    color: #1ba7c1;
}

.backgroundImgResponsive{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*min-height: 717px;*/
}

.easy-fill-screen{
    width: 100%;
    height: 100vh;
}

.ForceMinHeight{
    min-height: 600px !important;
}
.fullViewportHeight{
    height: 100vh;
}
.backgroundWhite{
    background-color: white;
}
.backgroundGrey{
    background-color: #E9EAE4;
}
.backgroundOver1_force{
    background-color: #1ba7c1 !important;
}
.text_base {
    font-weight: 100;
}

.text_shadow_black{
    text-shadow: 0px 2px 10px rgba(15, 15, 15, 0.3);
}

.ApplyButton{
    transition: all 0.5s ease;
    text-align: center !important;
}
.ApplyButton h1{
    margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8;
    font-weight: 900 !important;
    font-size: 4.5em !important;
}
.ApplyButton h2{
    margin-top: -20px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.ApplyButton h3{
    margin-top: -10px;
    font-weight: bold !important;
    font-size: 1.8em !important;
}
.ApplyButton h4 img{
    margin-top: -25px;
    width: 20px;
}




.BarraAnim_Idle{
    height: 3px;
    background-color: #f4f4a9;
    width: 0%;
    transition: all 0.5s ease;
}
.BarraAnim_Active{
    width: 100%!important;
    transition: all 1.5s ease!important;
}
.lineaVertical{
    height: 100%;
    width: 50%;
    border-right: 1px solid #121212;
}

.BannerLong{

}

.BannerLong h1{
    margin-top: 40px;
    text-align: left;
    font-weight: normal !important;
    font-size: 2.5em !important;
}
.BannerLong h2{
    margin-top: 40px;
    text-align: left;
    font-weight: normal !important;
    font-size: 2.5em !important;
}
.BannerLong p{
    margin-top: -5px;
    text-align: left;
    font-weight: 200 !important;
    font-size: 1.5em !important;
    line-height: 1;
}
.BannerLong h6 {
    text-align: left;
}
.BannerLong h6 img{
    position: absolute;
    bottom: 50px;
    margin-bottom: 0px;
    width: 80px;
}

.HeroLogo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
}
.HeroLogo img{
    width: 200px;
}

.HeroText1{
    font-size:11vw;
    bottom: 30%;
    top:10%;
    right: 30%;
    padding: unset;
    text-align: left;
}


/*====================================
GRUPO PROGRAMS
======================= */

.CardProgram {
    margin: 50px auto;
    width: 250px;
    height: 150px;
    position: relative;
    transform: scale(0.7);
    opacity: 1;
    transition: all 0.9s;
}

.blured{
    /*opacity: 0.1!important;*/
    transform: scale(0.6)!important;
    animation-name: none !important;
}
.unblured{
    transform: scale(0.7)!important;
    /*opacity: 1!important;*/
}
/*#CardProgram .backgroundImgResponsive{
    position: absolute;
    top:0px;
    right: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 300px;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    z-index: -100;
    transition: all 0.5s ease;
}*/
.CardProgram .ProgramImgResponsive{
    position: absolute;
    top:0px;
    right: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 250px;
    /*background-size: cover;*/
    background-position: center;
    min-height: 250px;
    z-index: -100;
    transition: all 0.9s ease;
    background-size: 200%;
}
.CardProgram .ProgramImgResponsive p{
    line-height: 200px;
    font-size: 10em;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
}
/*#CardProgram:hover .backgroundImgResponsive{
    transform: scale(1.2);
}*/
.CardProgram:hover .ProgramImgResponsive{
    transform: scale(1.2);
    background-size: 100%;
}
/*#CardProgram:hover h2{
    background-color: rgba(255,255,255,1);
}*/
.CardProgram .programTitle{
    padding-top: 5px;
    padding-bottom: 10px;
    z-index: 100;
    margin-top: 150px;
    width: 290px;
    background-color: white;
}
.backgroundOver1_force{
    background-color: #1ba7c1 !important;
}
.CardProgram .programTitle h3{
    font-weight: 200 !important;
    font-size: 1.5em !important;
    margin-left: 5px;
}
.CardProgram .programTitle h1{
    margin-top: -5px;
    margin-left: 5px;
    font-weight: 700 !important;
    font-size: 2em !important;
    line-height: 1;
    transition: all 0.1s ease;
}
.CardProgram h2{
    position: absolute;
    top:305px;
    font-weight: 200 !important;
    font-size: 1em !important;
    line-height: 1;
    width: 290px;
    background-color: #fff;
    padding: 5px;
    /*color: #666666;*/
    /*background-color: rgba(255,255,255,0);*/
    transition: all 0.5s ease;
}

.CardProgram h2 strong{
    font-weight: 700 !important;
}
.CardProgram img {
    /*position: absolute;
    top:350px;*/
    margin-top: 10px;
    width: 30px;
}
.CardProgramBarra{
    position: absolute;
    top: 150px;
    width: 290px;
}

.imgHover {
    background-color: #1ba7c1;
}


.CentralImageHolder{
    position: absolute;
    /*top: -130px;*/
    left: 50%;
}
.CentralImageHolder .CentralImage{
    margin-left: -175px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 350px;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    z-index: -100;
    transition: all 0.5s ease;
}
.CentralImageOver{
    margin-left: 0px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background: rgba(27,167,193,0);
    width: 350px;
    min-height: 350px;
    z-index: -1000;
    transition: all 0.5s ease;

}
.CentralImageBarra{
    position: absolute;
    left: -100px;
    top: 100px;
    width: 200px;
}
.CentralImageOver_Active {
    background: rgba(27, 167, 193, 1) !important;
}
.CentralImageHolder h1{
    margin-left: -100px;
    margin-top: -230px;
    text-align: center;
    width: 200px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8;
    font-weight: 900 !important;
    font-size: 5em !important;
    z-index: 1000;
}
.CentralImageHolder h2{
    text-align: center;
    margin-left: -100px;
    width: 200px;
    margin-top: 0px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.CentralImageHolder h3 {
    text-align: center;
    margin-left: -100px;
    margin-top: -15px;
    width: 200px;
    font-weight: bold !important;
}

.MiFlex_Even {
  flex: 1;
}

.pages_VerticalCard{
    background-color: #ffffff;
    /*width: 200px;*/
}
.pages_VerticalCard h1{
    padding-top: 20px;
    font-size: 1em;
    font-weight: 200;
}
.pages_VerticalCard h1 strong{
    font-weight: 600;
}
.pages_VerticalCard_BigTitle{
    font-size: 4em!important;
}
.pages_VerticalCard h2{
    font-size: 5em;
    font-weight: 900;
    line-height: 0.7em;
}
.pages_VerticalCard_line{
    border-top: 2px solid #1ba7c1;
    margin-left: 5%;
    width: 90%;
}
.pages_VerticalCard h3{
    padding-top: 10px;
    text-align: left;
    margin-left: 5%;
    width: 90%;
    font-size: 0.8em;
    font-weight: 300;
    padding-bottom: 5px;
}
.pages_VerticalCard h3 strong{
    font-weight: 900;
}
.pages_VerticalParagraph h1{
    font-size: 2.5em;
}

.MoreButton{
    /*position: absolute;
    right: 0px;
    top:180px;*//*150*/;
    color: white;
    line-height: 40px;
    font-size: small;/*1.5em;*/
    height: 40px;
    font-weight: 400;
}
.MoreButton img{
    margin-top: -20px;
    margin-left: -4px;
    width: 30px;
}
.MoreButton_Over{
    display: inline-block;
    width: 0px;
    height:40px;
    overflow: hidden;
    background-color: #1ba7c1;
    padding: 0px;
    padding-top: 5px;
    top: 5px;
    transition: all 0.3s ease;
}
.MoreButton_H30{
    height:30px!important;
    line-height: 30px!important;
}
.MoreButton_H20{
    height:20px!important;
    line-height: 20px!important;
}
.MoreButton_Over_Active{
    transition: all 0.7s ease;
    width: 100px!important;
    padding: 5px;
}
.MoreButton_Over_Active_50{
    transition: all 0.7s ease;
    width: 50px!important;
    padding: 5px;
}
.MoreButton_Over_Active_40{
    transition: all 0.7s ease;
    width: 40px!important;
    padding: 5px;
}
.MoreButtonBarra{
    width: 120%;
    margin-top: -45px;
    margin-left: -5px;
}
.MoreButtonBarra_H30{
    margin-top: -35px!important;
}
.MoreButtonBarra_50{
    width: 150%!important;
}
.OnHoverGrey{
    transition: all 0.3s ease;
}
.OnHoverGrey:hover{
    background-color: #e7e8e2 !important;
}

/*====================================
GRUPO CIRCULO CENTRAL
======================= */
.GenCirculoCentral {
    height: 400px;

    /*margin-top: -150px;*/
    text-align: center !important;

}
.GenCirculoCentral h1{
    line-height: 0.8;
    font-weight: 400 !important;
    font-size: 5em !important;
}
.GenCirculoCentral h2{
    margin-top: 10px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.GenCirculoCentral h3{
    margin-top: -10px;
    font-weight: bold !important;
    font-size: 1.8em !important;
}
.GenCirculoCentral h4 img{
    margin-top: -25px;
    width: 20px;
}
.GenCirculoCentral .lineaVertical{
    margin-top: 35px;
    height: 230px;
    width: 50%;
    border-right: 1px solid #121212;
}
.GenCirculoCentral h5{
    margin-top: 40px;
    text-align: left;
    font-weight: normal !important;
    font-size: 2.5em !important;
}
.GenCirculoCentral h6 {
    text-align: left;
}
.GenCirculoCentral h6 img{
    position: absolute;
    bottom: 50px;
    margin-bottom: 0px;
    width: 80px;
}

.GenCirculoCentral .CirculoCentralImage{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 400px;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    z-index: -100;
    transition: all 0.5s ease;
}
.CirculoCentralImageOver{
    background-color: #1ba7c1 !important;
}
.GenCirculoCentral .CirculoCentralImage h1{
    margin: 0px !important;
    /*padding-top: 50px;*/
}
.GenCirculoCentral table{
    height: 400px;
}

.Table-FullSize{
    height: 100%;
    width: 100%;
}

.InstagramImg {
    transition: all 0.5s ease;
    border:10px solid white;
    width: 200px;
    height: 200px
}
.InstagramImg .flagActive {

}
.InstagramImg:hover {
    transform: scale(1.1);

}
.InstagramImg .blured {

    transform: scale(0.5);
}

.InstagramImg .unblured {
    transform: scale(1);
}

/*====================================
LIGHT BOX
======================= */
.LightBox{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 9000000;
}
.LightBoxShow{
    display: inline-block!important;
}
.LightBoxHolder {
    position: absolute;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
.LightBoxHolder img{
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -9000000;
}
.LightBox h1{
    position: absolute;
    margin-top: 60vh;
    margin-left: 10vw;
    font-size: 3em;
    color: #ffffff;
    z-index: 9000001;
    background-color: #084b85;
}

.MaltaTextoHolderBarra{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.MaltaTextoHolder {
    position: relative;
    background-color: white;
    padding: 20px;
    /*margin: -10px;*/
    padding-top: 40px;
    height: 100%;
    /*border-top: 1px solid #121212;*/
    transition: all 0.5s ease;

}
.MaltaTextoHolder_Active {
    cursor: pointer;
    background-color: #ce1731;
    color: white;
    /*border-top: 1px solid #121212;*/

}

.MaltaTextoHolder h2{
    font-weight: bold;
    line-height: 1em;
}
.MaltaTextoHolder img{
    position: absolute;
    bottom: 20px;
    width: 30px;
}

.CarouselValue_Holder{
    height: 100vh;
    /*width: 100vh;*/
    width: 100%;
}
.CarouselValue_Holder_NoEffect{
    height: 100vh;
    width: 100%;
}
.CarouselTest {
    -webkit-border-radius: 0%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0%;
    -moz-background-clip: padding;
    /*width: 800px;*/
    width: 100%;
    border-radius: 0%;
    background-clip: padding-box;
    border: none;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    transform: translateY(0);
    min-height: 100vh;/*800px;*/
    /*overflow: hidden;*/
}
.CarouselTest_NoEffect{
    border-radius: 0%!important;
    -moz-border-radius: 0%!important;
    -webkit-border-radius: 0%!important;
}

.carousel-indicators li {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.3);
    margin-top: -90vh;/*-750px;*/
}

/*====================================
GRUPO CAROUSEL BANNER
======================= */
.CarouselBanner {
    /*min-height: 300px;*/
    background-color: white;
    margin-top: -250px;
    text-align: center !important;
}
.CarouselBanner h1{
    margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8;
    font-weight: 900 !important;
    font-size: 5em !important;
}
.CarouselBanner h5{
    margin-top: -20px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.CarouselBanner h3{
    margin-top: -10px;
    font-weight: bold !important;
    font-size: 1.8em !important;
}
.CarouselBanner h4 img{
    margin-top: -25px;
    width: 20px;
}
.CarouselBanner .lineaVertical{
    margin-top: 10px;
    height: 1px;
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid #121212;
}
.CarouselBanner h2{
    margin-top: 10px;
    /*text-align: left;*/
    text-align: center;
    font-weight: normal !important;
    font-size: 2em !important;
    line-height: 1.5em;
}
.CarouselBanner p{
    margin-top: -5px;
    /*text-align: left;*/
    text-align: center;
    font-weight: 200 !important;
    font-size: 1em !important;
    line-height: 1;
}
.CarouselBanner h6 {
    text-align: left;
}
.CarouselBanner h6 img{
    position: absolute;
    bottom: 10px;
    margin-bottom: 0px;
    width: 80px;
}
.CarouselBanner .BannerSuperText{
    margin-top: 40px;
    text-align: left;
    font-weight: 200 !important;
    font-size: 4.0em !important;
    line-height: 1;
}
.CarouselBanner .BannerSuperText strong{
    font-weight: 600 !important;
}
.carousel-inner h1{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 5em;
    font-weight: 200;
}
.carousel-inner h2{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 2em;
    font-weight: 200;
}

/*====================================
GRUPO BLOG POST
======================= */

.aumblog_ImageCard{
    height: 100px;
}
.aumblog_PostContainer{
    background-color: #FFFFFF;
    width: 100%;
    padding: 50px;
}
.aumblog_PostContainer a{
    color: #ce1731;
}
.aumblog_PostContainer_TopImage{
    width: 75%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    display: block!important;
}

/*.aumblog_PostContainer_TopImage img{
    object-fit: cover;
    object-position: center;
}*/
.aumblog_PostContainer_TopImage_Holder{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.backBlueAum{
    color: white!important;
    background-color: #084b85;
    border: none!important;
    transition: all 0.2s ease;
}
.backRedAum{
    color: white!important;
    background-color: #ce1731;
    border: none!important;
    transition: all 0.2s ease;
}
.backBlueAum:hover{
    background-color: #ce1731;
}
.backRedAum:hover{
    background-color: #333333;
}

.card-img-top-blog-all {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.aumblog_Title{
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 300;
    background-color: white;
    padding: 10px;
    margin: 25px;
}
.aumblog_Title strong{
    font-weight: bold;
}
.aumBlog_Related{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
.aumBlog_Related a{
    color: #333333;
}
.aumBlog_ContainerAll{
    width: 300px;
}
.aumBlog_ContainerAll a{
    color: #ce1731;
}

.HeroGeneralTitleHolder{
    /*position: absolute;
    left: 0px;*/
    /*height: 240px !important;*/
    font-size: 1em;
    line-height: 1em;
}

.HeroGeneralTitle_rich{
    width: 60vw;
    font-size: 8em;
    line-height: 1em;
    font-weight: 100!important;
}
.HeroGeneralTitle_rich strong{
    font-weight: 900!important;
}
.HeroGeneralMidTitle_rich{
    width: 60vw;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 100!important;
}
.HeroGeneralText{
    font-size: 1.5em;
    line-height: 1em;
    /*margin-top: 120px;*/
    font-weight: 200;
}
.HeroGeneralText strong{
    font-weight: 800;
}

.HeroBannerApplyCirculo{
    /*margin-top: -200px !important;*/
    height: 300px;

    margin-top: -150px;
    text-align: center !important;
}

.HeroBannerApplyCirculo .CirculoCentralImage{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 300px;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    z-index: -100;
    transition: all 0.5s ease;
}

.HeroBannerApplyCirculo h1{
    margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8;
    font-weight: 900 !important;
    font-size: 5em !important;
}
.HeroBannerApplyCirculo h2{
    margin-top: -20px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.HeroBannerApplyCirculo h3{
    margin-top: -10px;
    font-weight: bold !important;
    font-size: 1.8em !important;
}
.HeroBannerApplyCirculo h4 img{
    margin-top: -25px;
    width: 20px;
}
.HeroBannerApplyCirculo .lineaVertical{
    margin-top: 35px;
    height: 230px;
    width: 50%;
    border-right: 1px solid #121212;
}
.HeroBannerApplyCirculo h5{
    margin-top: 40px;
    text-align: left;
    font-weight: normal !important;
    font-size: 2.5em !important;
}
.HeroBannerApplyCirculo p{
    margin-top: -5px;
    text-align: left;
    font-weight: 200 !important;
    font-size: 1.5em !important;
    line-height: 1;
}
.HeroBannerApplyCirculo h6 {
    text-align: left;
}
.HeroBannerApplyCirculo h6 img{
    position: absolute;
    bottom: 50px;
    margin-bottom: 0px;
    width: 80px;
}

.CirculoCentralImage .HeroBannerApplyBarra{
    position: relative !important;
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}

/*====================================
GRUPO BLOG
======================= */

.CardBlog {
    margin: 50px auto;
    width: 340px;
    height: 420px;
    position: relative;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s;
}

.CardBlog .BlogImgResponsive{
    position: absolute;
    top:0px;
    left: 0px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 340px;
    background-size: 200%;
    background-position: center;
    min-height: 340px;
    z-index: -100;
    transition: all 0.5s ease;
}
.CardBlog:hover .BlogImgResponsive{
    background-size: 150%;
}

.CardBlog .BlogTxtResponsive{
    position: absolute;
    width:340px;
    height:340px;
     -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    top:0;
    left: 0px;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.CardBlog:hover .BlogTxtResponsive{
    cursor: pointer;
    opacity:1;
}
.CardBlog .BlogTxtResponsive h1{
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
}

.CardBlog h3{
    position: absolute;
    top:350px;
    font-weight: 200 !important;
    font-size: 0.5em !important;
    line-height: 1;
    width: 290px;
    background-color: #fff;
    /*background-color: rgba(255,255,255,0);
    transition: all 0.5s ease;*/
}
.CardBlog h2 {
    position: absolute;
    top:365px;
    font-weight: 200 !important;
    font-size: 1em !important;
    line-height: 1;
    width: 100%;
    background-color: #fff;
    /*background-color: rgba(255,255,255,0);
    transition: all 0.5s ease;*/
}
.CardBlog h2 strong{
    font-weight: 700 !important;
}

.HeroProgramCircle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
}
.HeroProgramCircle p{
    font-family: Roboto, sans-serif;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #121212;
    font-size: 2.7em;
    font-weight: 900;
}
.HeroProgramTitle_rich{
    width: 55vw;
    font-size: 4em;
    line-height: 1em;
    font-weight: 100!important;
}
.HeroProgramTitle{
    width: 55vw;
    font-size: 3em;
    line-height: 1em;
}
.HeroProgramTitle_Normal{
    width: 55vw;
    font-size: 2.5em;
    line-height: 1em;
}
.HeroProgramTitle h2{
    font-size: 2.5em;
}
.HeroProgramTitle p{
    width: 45vw;
    font-size: 2em;
    line-height: 1em;
}
.HeroProgramTitleHolder{
    position: absolute;
    left: 120px;
    height: 100px !important;
}

.HeroProgramTitleHolder2{
    height: 250px !important;
}
.HeroProgramText{
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 20px;
}
.HeroProgramText strong {

    font-weight: 900;
    /*border-bottom: 1px solid #fff*/
}

.textaum_giant{
    font-size: 5em;
    line-height: 1em;
}
.textaum_big{
    font-size: 4em;
    line-height: 1em;
}
.textaum_medium{
    font-size: 3em;
    line-height: 1em;
}
.textaum_normal{
    font-size: 2em;
    line-height: 1em;
}
.textaum_small{
    font-size: 1em;
    line-height: 1em;
}
.textaum_xsmall{
    font-size: 0.7em;
    line-height: 1em;
}



/*====================================
TEMPLATE PROGRAMS
======================= */
.tempProgram_BigText{
    font-size: 7em;
    line-height: 1em;
    font-weight: 300;
}
.tempProgram_BigText strong{
    font-weight: bold;
}
.tempProgram_Bachelor{
    font-size: 0.8em;
}
.tempProgram_TitleProgram{
    font-size: 1.7em;
    line-height: 0.9em;
    font-weight: 600;
}
.tempProgram_TitleAproval{
    margin-top: 5px;
    font-size: 0.6em;
}
.tempProgram_BigYears_holder{
    height: 103px;
    /*background-color: #00ad9c;*/
}
.tempProgram_BigYears{
    position: absolute;
    bottom: -20px;
    left: 10px;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    font-size: 8em;
    line-height: 1em;
}
.tempProgram_BigYears_sub{
    position: absolute;
    bottom: 0px;
    left: 80px;
    font-family: 'Muli', sans-serif !important;
    font-size: 1em !important;
    line-height: 1em;
}
.tempProgram_BigTuition_holder{
    height: 103px;
    font-weight: 900;
    /*background-color: #00FF00;*/
}
.tempProgram_BigTuition{
    position: absolute;
    bottom: 18px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    font-size: 3.4em;
    line-height: 1em;
}
.tempProgram_BigTuition_sub{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: 'Muli', sans-serif !important;
    font-size: 1em !important;
    line-height: 1em;
}
.tempProgram_BigTuition_Comment{
    margin-top: 30px;
    font-size: 0.7em;
    line-height: 1em;
}
.tempProgram_Description2{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 1.5em;
    line-height: 1em;
}
.tempProgram_FlechaDown img{
    width: 20px;
}
.tempProgram_Credits_holder{
    height: 70px;
}
.tempProgram_Credits_Credit{
    position: absolute;
    top: 0px;
    left: 10px;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    font-size: 4em;
    line-height: 1em;
}
.tempProgram_Credits_Credit_sub{
    position: absolute;
    top: 55px;
    left: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    line-height: 1em;
}
.tempProgram_Credits_Outline{
    text-align: right;
    font-size: 2.5em;
    line-height: 1em;
}
/*====================================
TABS GENERAL
======================= */
.tabAUM{
    border: none;
}
.tabAUM .nav-link{
    /*background-color: #00FF00;*/
    border-bottom: 4px solid #1ba7c1;
    font-size: 1.5em;

}
.tabAUM a{
    color: #121212!important;
    line-height: 1em;


}
.tabAUM a:hover{
    /*background-color: #00ad9c!important;*/
    border: 0px!important;
    border-bottom: 4px solid #ce1731 !important;
}
.tabAUM .active{
    border: 0px!important;
    border-bottom: 4px solid #f4f4a9!important;
    background-color: #00ad9c;
    /*background-color: #00ad9c!important;*/
}
/*====================================
TABLAS AUM
======================= */
.TableAUM_Title{
    margin-top: -10px;
    font-weight: bolder;
    color: #1ba7c1;
    margin-bottom: -10px;
}
.TableAUM_Item{
    margin-top: 10px;
    line-height: 1em;
}
.TableAUM_Item_LineBelow{
    border-bottom: 1px solid #eaebed;
}
.TableAUM_Item h1{
    font-size: 1.2em;
}
.TableAUM_Item h2{
    font-size: 1.2em;
    font-weight: 900;
}
.TableAUM_Item_Detail{
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 0.7em;
    color: #a4bac3;
    line-height: 1em;
}
.TableAUM_Total{
    margin-top: 10px;
    font-size: 1.3em;
    color: #a4bac3;
}
.TableAUM_Total strong{
    font-weight: 900;
}
/*====================================
SIDEBUTTONS
======================= */
.TalkAdmission_holder{
    font-size: 0.7em;
    cursor: pointer;
}
.TalkAdmission_icon{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.TalkAdmission_big{
    width: 120px;
}
.TalkAdmission_text{
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 1em;
    margin-bottom: 5px;
}
.TalkAdmission_text strong{
    font-weight: 900;
}
.SidButtonMini_holder{
    font-size: 0.5em;
    cursor: pointer;
}
.SidButtonMini_text{
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 1em;
    margin-bottom: 5px;
}
.SidButtonMini_icon{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.SideApply h1{
    margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8;
    font-weight: 900 !important;
    font-size: 5em !important;
}
.SideApply h2{
    margin-top: -20px;
    font-weight: lighter !important;
    font-size: 1.2em !important;
}
.SideApply h3{
    margin-top: -10px;
    font-weight: bold !important;
    font-size: 1.8em !important;
}
.SideApply h4 img{
    margin-top: -25px;
    width: 20px;
}

.HeroBannerApplyBarra{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.SeparatorTwoColumns_dark{
    border-top: 2px solid #121212;
    /*border-bottom: 2px solid #121212;*/
}
.SeparatorTwoColumns_white{
    border-top: 2px solid #ffffff;
    /*border-bottom: 2px solid #ffffff;*/
    /*border-right: 2px solid #ffffff;*/
}

.SeparatorTwoColumns_inv_dark{
    border-bottom: 2px solid #121212;
    /*border-bottom: 2px solid #121212;*/
}
.SeparatorTwoColumns_inv_white{
    border-bottom: 2px solid #ffffff;
    /*border-bottom: 2px solid #ffffff;*/
    /*border-right: 2px solid #ffffff;*/
}

.CyanSection_CirculoMiniBlanco {
    background-color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 6px;
    line-height: 0.8em;
    font-weight: 200;
    font-size: 1em;
}

.CyanSection_CirculoMiniBlanco strong{
    font-weight: 700;
}

.card_Story{
    font-size: 18px;
    color: #121212;
    padding: 10px;
    /*-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: none;*/
}
.card_Story img{
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;*/
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}
.card_Story p{
    /*padding: 20px;*/
}

.fast_text p{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1em!important;
}
.fast_text h2{
    line-height: 1em!important;
}

.pages_GEP_bigNumbers h1{
    line-height: 1em;
    font-size: 6em;
    font-weight: 200;
}
.pages_GEP_bigNumbers h1 strong{
    font-weight: bold;
}
.pages_GEP_bigNumbers h2{
    line-height: 1em;
    font-size: 1em;
    font-weight: 200;
    margin-top: -15px;
    position: relative;
}

.pages_MediumText{
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
}
.pages_MediumText a{
    color: #ce1731;
}
.pages_MediumText strong{
    font-weight: bold;
}

.pages_GEP_Table_Page h1{
    font-size: 4em;
    line-height: 1em;
    font-weight: 900;
}
.pages_GEP_Table_Page h2{
    max-width: 50vw;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 600;
    margin-top: 10px;
}
.pages_GEP_Table_Page h3{
    max-width: 50vw;
    font-size: 0.9em;
    line-height: 1em;
    font-weight: 200;
}
.pages_BorderBottom1{
    border-bottom: 1px solid #c8c8c8;
}

.pages_Card1{
    border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border: none!important;
}
.pages_Card1_Letter{
    font-family: Roboto, sans-serif;
    font-size: 3em;
    line-height: 1em;
    font-weight: 900;

}

.pages_CardText a{
    color: #ce1731;
}

.pages_EAP_bignumbers{
    line-height: 1em;
    margin-left: 6px;
}
.pages_EAP_bignumbers p{
    position: absolute;
    font-size: 1em;
}
.pages_EAP_bignumbers h1{
    font-size: 7em;
    font-weight: 900;
    line-height: 1em;
}
.pages_EAP_bignumbers h2{
    font-size: 1em;
    font-weight: 200;
    line-height: 1em;
    margin-top: -20px;
    text-align: right;
}


.pages_Inline_ReallyBig{
    font-size: 7em;
    font-weight: 900;
    line-height: 0.8em;
}
.pages_Inline_NormalMini{
    font-size: 1em;
    font-weight: 200;
    line-height: 1em;
}
.pages_Inline_NormalMini strong{
    font-weight: 900;
}
.pages_Inline_NormalBig{
    font-size: 2em;
    font-weight: 200;
    line-height: 0.9em;
}
.pages_Inline_NormalBig strong{
    font-weight: 900;
}
.pages_Inline_Normal{
    font-size: 1.5em;
    font-weight: 200;
    line-height: 0.9em;
}
.pages_Inline_Normal strong{
    font-weight: 900;
}
.pages_Inline_Big{
    font-size: 2.5em;
    font-weight: 200;
    line-height: 0.9em;
}
.pages_Inline_Big strong{
    font-weight: 900;
}
.pages_InlineBanner_BigText{
    margin-right: 10px;
}
.pages_InlineBanner_BigText .AutoSizeTextOneLine{
    width: 200px;
    height: 100px;

    font-weight: 900;
}
.pages_InlineBanner_BigText h2{
    margin-top: -15px;
    font-size: 1em;
}
.pages_InlineBanner h3{
    margin-top: 20px;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
}
.pages_InlineBanner h3 strong{
    font-weight: 900;
}
.pages_InlineBanner_ShortDescription{
    font-size: 2em!important;
}

.HeroBanner_MiniApply{
    position: absolute;
    /*top: -280px;*/
    top: -130px;
    right: 0px;
}

.CirculoMiniBanner{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    width: 120px;
    background-color: #ce1731;
    height: 120px;
    z-index: -100;
    transition: all 0.5s ease;

}
.CirculoMiniBanner h1{
    font-family: 'Saira Condensed', sans-serif;
    line-height: 0.8em;
    font-weight: 900 !important;
    font-size: 2.5em !important;
    margin: 0px !important;
}
.CirculoMiniBanner img{
    margin: 0px !important;
    width: 10px;
}
.CirculoMiniBanner_Over{
    background-color: #1ba7c1
}

.pages_ProfessorMini h1{
    font-size: 1em;
}
.pages_ProfessorMini h2{
    margin-top: -10px;
    font-size: 0.8em;
    color: #bebcc3;
}

.pages_ProfessorMini{
    width: 300px;
}
.pages_ProfessorMiniCircle{
    border-radius: 100px!important;
    -moz-border-radius: 100px!important;
    -webkit-border-radius: 100px!important;
    border: none!important;
    background-color: #ce1731;
    width: 80px;
    height: 80px;
    min-width: 80px;
    line-height: 80px;
    color: #ffffff;
    font-size: 2em;
    font-weight: 900;
    background-size: cover;
    background-position: center;
}

.HeroProfessorCircle {
    /*position: absolute;
    top: 120px;
    right: 0px;*/
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #ce1731;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}
.HeroProfessorCircle2 {
    /*position: absolute;
    top: 120px;
    right: 0px;*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: #ce1731;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}
.HeroProfessorCircle p{
    font-family: Roboto, sans-serif;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: #ffffff;
    font-size: 6.5em;
    font-weight: 900;
}
.HeroProfessorCircle2 p{
    font-family: Roboto, sans-serif;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: #ffffff;
    font-size: 6.5em;
    font-weight: 900;
}

.HeroProfessorTitleHolder{
    position: relative;
    left: 0px;
    /*height: 320px !important;*/
    font-size: 1em;
}
.HeroProfessorText{
    font-size: 2em;
    line-height: 1em;
    /*margin-top: 90px;*/
    /*font-weight: 300!important;*/
    width: 60%;
}
.HeroProfessorText strong{
    font-weight: 800;
}

.HeroBannerData{
    /*margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;*/
    line-height: 0.8;
    font-weight: 100 !important;
    font-size: 5em !important;
    color: #bebcc3;
}
.HeroBannerData p{
    line-height: 0.8;
    font-weight: 100 !important;
    font-size: 0.9em !important;
    color: #bebcc3;
    width: 100%;
    text-align: center;
}

.pages_BlockStar_Star{
    width: 100%;
    text-align: center;
    font-size: 8em;
    font-weight: 900;
    line-height: 1em;
}
.pages_BlockStar{
    border-radius: 30px!important;
    -moz-border-radius: 30px!important;
    -webkit-border-radius: 30px!important;
    border: none!important;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #E9EAE4;*/
    width: 600px;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    line-height: 1em;
}
.pages_BlockStar strong{
    font-weight: 800;
}

.panel-title{
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
}
.panel-title a{

}
.panel-body{
    background-color: #E9EAE4;
    padding: 10px;
    padding-bottom: 40px;
}
.panel-body a{
    color: #ce1731;
}
.panel-title > a:before {
    float: left !important;
    font-family: FontAwesome, "Font Awesome 5 Free";
    line-height: 1em;
    /*background-color: #aaa;*/
    content:"\f068";
    /*padding-right: 5px;*/
    padding:2px;
}
.panel-title > a.collapsed:before {
    float: left !important;
    line-height: 1em;
    font-family: FontAwesome, "Font Awesome 5 Free";
    content:"\f067";
    /*padding:4px;*/
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

.HeroAdmission_TalkText{
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    font-weight: 200;
}
.HeroAdmission_TalkText strong{
    font-weight: 800;
}
.HeroAdmission_TalkText p{
    text-align: center;
}