{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <div id="{{ data.anchor }}"  class="GenCirculoCentral" style="color: {{ data.font_color.color }}" >
                <div class="zoomIn wow CirculoCentralImage mx-auto" style="background-color: {{ data.back_color.color }}">
                    <!--div class="HeroBannerApplyButton"-->
                        <table  class="Table-FullSize">
                            <tbody>
                                <tr>
                                    <td class="align-middle p-1">
                                        {% if data.text_big or data.text_big != "" %}
                                            <h1 style="text-align: center!important;">{{ data.text_big|safe }}</h1>
                                        {% endif %}

                                        {% if data.text_line1 or data.text_line1 != "" %}
                                            <h2>{{ data.text_line1|richtext }}</h2>
                                        {% else %}
                                            <div class="Space-25"></div>
                                        {% endif %}
                                        {% if data.text_line2 or data.text_line2 != "" %}
                                            <h3>{{ data.text_line2|richtext }}</h3>
                                        {% endif %}
                                        <!--div class="HeroBannerApplyBarra">
                                            <div class="BarraAnim_Idle"></div>
                                        </div-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <!--/div-->
                </div>
            </div>
        </div>
    </div>
</div>