{% load static wagtailcore_tags wagtailimages_tags utils_tags %}
<script>
    function ButtonsActivaction() {
        ApplyButtonActivation();
        CardProgramsActivation();


        if ($('.CentralImageHolder').length) {
            $(".CentralImageHolder").hover(function () {
                $(this).css('cursor', 'pointer');
                $(this).find(".CentralImageOver").addClass('CentralImageOver_Active');
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find(".CentralImageOver").removeClass('CentralImageOver_Active');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
        }
        if ($('.MaltaTextoHolder.IsButton').length) {
            $(".MaltaTextoHolder.IsButton").hover(function () {
                $(this).addClass("MaltaTextoHolder_Active");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
                $(this).find('img').attr("src", "{% static 'icons/FlechaRight2White.png' %}");
            }, function () {
                $(this).removeClass("MaltaTextoHolder_Active");
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
                $(this).find('img').attr("src", "{% static 'icons/FlechaRight2.png' %}");
            });
        }
        if ($('.BannerButton').length) {
            $(".BannerButton").hover(function() {
                $(this).css('cursor','pointer');
                $(this).addClass('backgroundOver1_force');
                $(this).addClass('text-white');
                $(this).find('img').attr("src","{% static 'icons/down-arrow-2.png' %}");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find('img').attr("src","{% static 'icons/down-arrow.png' %}");
                $(this).removeClass('backgroundOver1_force');
                $(this).removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
        }

        if ($('._BannerCirculoApply').length) {
            $("._BannerCirculoApply").hover(function() {
                $(this).css('cursor','pointer');
                $(this).parent().addClass('CirculoCentralImageOver');
                $(this).addClass('text-white');
                $(this).find('img').attr("src","{% static 'icons/down-arrow-2.png' %}");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find('img').attr("src","{% static 'icons/down-arrow.png' %}");
                $(this).parent().removeClass('CirculoCentralImageOver');
                $(this).removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
        }
        if ($('.BlogItem').length) {
            $(".BlogItem").hover(function () {
                $(this).find(".MoreButton_Over").addClass("MoreButton_Over_Active");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find(".MoreButton_Over").removeClass("MoreButton_Over_Active");
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            })
        }

        if ($('.TalkAdmission_holder').length) {
            $(".TalkAdmission_holder").hover(function () {
                $(this).find(".MoreButton_Over").addClass("MoreButton_Over_Active");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find(".MoreButton_Over").removeClass("MoreButton_Over_Active");
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            })
        }
        if ($('.SidButtonMini_holder').length) {
            $(".SidButtonMini_holder").hover(function () {
                $(this).find(".MoreButton_Over").addClass("MoreButton_Over_Active_40");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find(".MoreButton_Over").removeClass("MoreButton_Over_Active_40");
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            })
        }
        if ($('.HeroBannerApplyButton').length) {
            $(".HeroBannerApplyButton").hover(function() {
                $(this).css('cursor','pointer');
                $(this).parent().addClass('CirculoCentralImageOver');
                $(this).addClass('text-white');
                $(this).find('img._replace').attr("src","{% static 'icons/down-arrow-2.png' %}");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find('img._replace').attr("src","{% static 'icons/down-arrow.png' %}");
                $(this).parent().removeClass('CirculoCentralImageOver');
                $(this).removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
        }
        if ($('.CirculoMiniBanner').length) {
            $(".CirculoMiniBanner").hover(function () {
                $(this).css('cursor', 'pointer');
                $(this).addClass('CirculoCentralImageOver');
            }, function () {
                $(this).removeClass('CirculoCentralImageOver');
            });
        }
        if ($('.CyanSection_CirculoMiniBlanco').length) {
            $('.CyanSection_CirculoMiniBlanco').textfill({changeLineHeight: true});
        }
        if ($('.AutoSizeTextOneLine').length) {
            $('.AutoSizeTextOneLine').textfill({maxFontPixels: 200});
        }
        var TopMenuMiniScroll;
        var TopMenuMiniScroll_status = false;
        //TopMenuMiniScroll.remove()
        if ($("#TopMenuMini").length) {
                if(isBreakpoint("lg")) {
                    TopMenuMiniScroll = new ScrollMagic.Scene({
                        triggerElement: "#__BODY",
                        triggerHook: 0,
                        duration: 0
                    })
                        .setTween("#TopMenuMini", 0.1, {opacity: 1, display: '', ease: Power0.easeNone})
                        .addTo(controller);
                    TopMenuMiniScroll_status=true;
                }else{
                    $('#TopMenuMini').css('opacity',1);
                    $('#TopMenuMini').css('display',"");
                }
            }

        $(window).resize(function() {
            if ($('.CyanSection_CirculoMiniBlanco').length) {
                $('.CyanSection_CirculoMiniBlanco').textfill({changeLineHeight: true});
            }
            if ($('.AutoSizeTextOneLine').length) {
                $('.AutoSizeTextOneLine').textfill({maxFontPixels: 200});
            }
            if(isBreakpoint("lg")) {
                    if(!TopMenuMiniScroll_status) {
                        $('#TopMenuMini').css('opacity',0);
                        $('#TopMenuMini').css('display',"none");
                        TopMenuMiniScroll = new ScrollMagic.Scene({
                            triggerElement: "#__BODY",
                            triggerHook: 0,
                            duration: 0
                        })
                            .setTween("#TopMenuMini", 0.1, {opacity: 1, display: '', ease: Power0.easeNone})
                            .addTo(controller);
                        TopMenuMiniScroll_status = true;
                    }
            }else{
                if(TopMenuMiniScroll_status) {
                    TopMenuMiniScroll.remove()
                    TopMenuMiniScroll_status = false;
                }
                $('#TopMenuMini').css('opacity',1);
                $('#TopMenuMini').css('display',"");
            }
        });


    }
    function showMenu() {
        $("#TopMenuFloat").css('display','')
        //$('.navbar-toggler').click();
        $('#TopMenuFloat_Collapse').collapse('show');
        //$('.toggler').collapse('hide');
        TweenMax.to("#TopMenuFloat", 0.1, {
                    'opacity': 1, onComplete: function () {
                        $("#TopMenuMini").css('display','none')
                    }
                })

    }
    function hideMenu(){
        $('#TopMenuFloat_Collapse').collapse('hide');
        TweenMax.to("#TopMenuFloat", 0.1, {
                    'opacity': 0, onComplete: function () {
                        $("#TopMenuFloat").css('display','none')
                        $("#TopMenuMini").css('display','')
                    }
                })


    }
    function isBreakpoint( alias ) {
        return $('.device-' + alias).is(':visible');
    }
    function ApplyButtonActivation() {
        if ($('.ApplyButton').length) {
            $(".ApplyButton").hover(function () {
                $(this).css('cursor', 'pointer');
                $(this).addClass('backgroundOver1_force');
                $(this).addClass('text-white');
                $(this).find('img').attr("src", "{% static 'icons/down-arrow-2.png' %}");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find('img').attr("src", "{% static 'icons/down-arrow.png' %}");
                $(this).removeClass('backgroundOver1_force');
                $(this).removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
        }

    }
    function CardProgramsActivation(){

        var watcherPrograms;

        function watchPrograms() {
            $(".CardClass:not(.flagActive)").each(function (index, element) {
                $(element).removeClass("animated");
                $(element).removeClass('unblured');
                $(element).addClass('blured');

            });

        }
        if ($('.CardClass').length) {
            $(".CardClass").hover(function () {
                $(this).addClass('flagActive');
                //$(this).find('img').addClass('imgHover');
                $(this).find('img').attr("src", "{% static 'icons/FlechaRight2White.png' %}");
                $(this).find('.programTitle').addClass('backgroundOver1_force');
                $(this).find('h1').addClass('text-white');
                $(this).find('h3').addClass('text-white');
                $(this).find('h2').addClass('text-white');
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
                $(this).find('h2').addClass('backgroundOver1_force');
                $(this).css('cursor', 'pointer');
                //$("#CardProgram:not(.flagActive)").addClass( 'blured' );
                watcherPrograms = setInterval(watchPrograms, 50);
            }, function () {
                $(this).removeClass('flagActive');
                //$(this).find('img').removeClass('imgHover');
                $(this).find('img').attr("src", "{% static 'icons/FlechaRight2.png' %}");
                $(this).find('.programTitle').removeClass('backgroundOver1_force');
                $(this).find('h1').removeClass('text-white');
                $(this).find('h3').removeClass('text-white');
                $(this).find('h2').removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
                $(this).find('h2').removeClass('backgroundOver1_force');
                clearInterval(watcherPrograms);
                $(".CardClass:not(.flagActive)").each(function (index, element) {
                    $(element).removeClass('blured');
                    $(element).addClass('unblured');
                });
            });
        }
        if ($('.IsButton').length) {
            $(".IsButton").hover(function () {
                $(this).find(".MoreButton_Over").addClass("MoreButton_Over_Active_40");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find(".MoreButton_Over").removeClass("MoreButton_Over_Active_40");
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            })
        }
    }
</script>