{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

{% comment %}
{% image data.images.1.value width-1920 as tmp_photo %}
<img class="d-block w-100" src="{{ tmp_photo.url }}" alt="slide" style="height: 100vh">
{% endcomment %}



<div id="carouselHero" class="carousel slide carousel-fade ForceMinHeight" data-ride="carousel">
  <div class="carousel-inner">
      {% for image in data.images %}


        {% if forloop.first %}
            <div class="carousel-item active">
        {% else %}
            <div class="carousel-item">
        {% endif %}

            {% image image.value width-1920 as tmp_photo %}
            <!--img class="d-block w-100" src="{{ tmp_photo.url }}" alt="slide" style="height: 100vh"-->
                <div class="inline-block d-md-none" style="
                        width: 100vw;
                        height: 100vh;
                        min-height: 500px;
                        /*background-attachment: fixed;*/
                        background-color: #121212;
                        background-image: url('{{ tmp_photo.url }}');
                        background-size: cover;
                        background-position: center;
                        ">
                </div>
                <div class="d-none d-md-inline-block" style="
                        width: 100vw;
                        height: 100vh;
                        min-height: 500px;
                        background-attachment: fixed;
                        background-color: #121212;
                        background-image: url('{{ tmp_photo.url }}');
                        background-size: cover;
                        background-position: center;
                        ">
                </div>
                <div class="inline-block " style="
                    position: absolute;
                    width: 100vw;
                    height: 100vh;
                    min-height: 500px;
                    top: 0px;
                    left: 0px;
                    background-image: linear-gradient(
                     rgba(0, 74, 135,{{ data.tint_overlay }}),
                     rgba(0, 74, 135,{{ data.tint_overlay }})
                     );
                        ">
                </div>
          {% comment %}
            <div class="carousel-caption d-none d-block d-flex text_base text_shadow_black HeroText1" >
                <div style="align-self: flex-end">
                     {{ hc.value.heading | richtext }}
                </div>

            </div>
            {% endcomment %}
            </div>

      {% endfor %}
        <!--h1 class="w-100 text-center px-5">BBLALALA</h1-->

  </div>
  <!--a class="carousel-control-prev" href="#carouselHero" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHero" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a-->

</div>




