{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

<div class="d-flex pages_InlineBanner">
    <div class="pages_InlineBanner_BigText {{ value.has_button|yesno:'IsButton,' }}">
        <div class="AutoSizeTextOneLine">
            <span>{{ value.text_big1 }}</span>
            <h2>{{ value.text_small }}</h2>
            {% if value.has_button %}
                <div class="MoreButton MoreButton_H30">
                    <div class="MoreButton_Over MoreButton_H30">
                        Go
                        <div class="MoreButtonBarra MoreButtonBarra_H30 MoreButtonBarra_50">
                            <div class="BarraAnim_Idle"></div>
                        </div>
                    </div>
                    {% if value.theme == 'white' %}
                        <img src="{% static 'icons/FlechaRight2White.png' %}">
                    {% else %}
                        <img src="{% static 'icons/FlechaRight2.png' %}">
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
    <div>
        <h3 class="pages_InlineBanner_ShortDescription">{{ value.text_big2 }}</h3>
    </div>
</div>