{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

<div id="MiniButtonLeaf1" class="SidButtonMini_holder text-center text-lg-left" onclick="window.location='{% pageurl value.link %}';">
    <div class="d-flex d-lg-block justify-content-center">
    <div class="SidButtonMini_text" style="color: {{ value.main_text_color.color }}">{{ value.title | safe }}</div>
    </div>
    <div class="MoreButton MoreButton_H30">
        <div class="MoreButton_Over MoreButton_H30">
            Go
            <div class="MoreButtonBarra MoreButtonBarra_H30 MoreButtonBarra_50">
                <div class="BarraAnim_Idle"></div>
            </div>
        </div>
        {% if value.theme == 'white' %}
            <img src="{% static 'icons/FlechaRight2White.png' %}">
        {% else %}
            <img src="{% static 'icons/FlechaRight2.png' %}">
        {% endif %}
    </div>
</div>