{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

{% comment %}
{% include "snip/button_talk_snip.html" with button_coloricon='white' %}
{% endcomment %}

<div class="TalkAdmission_holder w-100 text-left" onclick="window.open('{{ settings.home.GlobalSettings.talk_to_admission_link |safe }}');">
    <div class="d-block justify-content-center">
    <img class="TalkAdmission_icon img-fluid" src="{% static 'icons/contact.png' %}" >
    <div class="TalkAdmission_text">{{ settings.home.GlobalSettings.talk_to_admission_text | safe }}</div>
    </div>
    <div class="MoreButton">
        <div class="MoreButton_Over">
            {{ settings.home.GlobalSettings.talk_to_admission_short | safe }}
            <div class="MoreButtonBarra">
                <div class="BarraAnim_Idle"></div>
            </div>
        </div>

        {% if value.theme == 'white' %}
            <img src="{% static 'icons/FlechaRight2White.png' %}">
        {% else %}
            <img src="{% static 'icons/FlechaRight2.png' %}">
        {% endif %}
    </div>
</div>
{% comment %}
<div class="TalkAdmission_holder w-100 text-center text-lg-left" onclick="window.open('{{ settings.home.GlobalSettings.talk_to_admission_link |safe }}');">
    <div class="d-flex d-lg-block justify-content-center">
    <img class="TalkAdmission_icon img-fluid" src="{% static 'icons/contact.png' %}" >
    <div class="TalkAdmission_text">{{ settings.home.GlobalSettings.talk_to_admission_text | safe }}</div>
    </div>
    <div class="MoreButton">
        <div class="MoreButton_Over">
            {{ settings.home.GlobalSettings.talk_to_admission_short | safe }}
            <div class="MoreButtonBarra">
                <div class="BarraAnim_Idle"></div>
            </div>
        </div>

        {% if value.theme == 'white' %}
            <img src="{% static 'icons/FlechaRight2White.png' %}">
        {% else %}
            <img src="{% static 'icons/FlechaRight2.png' %}">
        {% endif %}
    </div>
</div>
{% endcomment %}


<div class="Space-25"></div>
<div class="row">
    <!--BUTTON GET LEAFT-->
    {% if value.has_leaflet %}
        <div class="col-6">
            {% include "snips/button_getleaf_snip.html" with value=value %}
        </div>
    {% endif %}
    <!--BUTTON SCHOLAR-->

{% if value.has_scholarship %}
    <div class="col-6">
        {% include "snips/button_scholar_snip.html" with value=value %}
    </div>
{% endif %}

</div>
