{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags utils_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}


    {% comment %}
    {% include "snips/herocarousel.html" with data=home_page.herocarrousel %}

    {% endcomment %}
    {% include_block home_page.herocarrousel.0 %}
    <div class="HeroLogo" style="z-index: 950000;">
        <a href="{% pageurl request.site.root_page %}" ><img src="{{ settings.home.GlobalSettings.logoTopGeneral.url  }}"></a>
    </div>
    {% for banner in home_page.herobanner %}

        {% if banner.block_type == 'large_banner' %}
            {% include "snips/banner.html" with data=banner.value %}
        {% elif banner.block_type == 'circle_banner' %}
            {% include "snips/banner_circ_apply.html" %}
        {% elif banner.block_type == 'circle_banner_half' %}
            {% include "snips/banner_circ_apply_half.html" %}
        {% elif banner.block_type == 'mini_banner' %}
            {% include "tmps/tmp_mini_apply.html" %}
        {% elif banner.block_type == 'circle_talk' %}
            {% include "tmps/tmp_banner_circ_talk.html" %}
        {% elif banner.block_type == 'circle_talk_half' %}
            {% include "tmps/tmp_banner_circ_talk_half.html" %}
        {% elif banner.block_type == 'only_text' %}
            {% include "tmps/tmp_banner_circ_text.html" with value=banner.value %}
        {% endif %}
    {% endfor %}
    {% comment %}
    {% if home_page.herobanner %}
        {% include "snips/banner.html" with data=home_page.herobanner.0.value %}
    {% endif %}
    {% endcomment %}
    {% include "tmps/tmp_topnav.html" %}
    <div id="__BODY"></div>
    {% with blocks=home_page.body %}

        {% for block in blocks %}
            {% if block.block_type == 'programs_list' %}
                {% include "snips/programs_list.html" with data=programs%}
            {% elif block.block_type == 'circle_apply_with_photo' %}
                {% include "snips/circapply_photo.html" with data=block.value%}
            {% elif block.block_type == 'vertical_space' %}
                {% include "snips/vertical_space.html" with data=block.value%}
            {% elif block.block_type == 'three_columns_mini' %}
                {% include "snips/threecolumnsmini.html" with data=block.value%}
            {% elif block.block_type == 'central_circle' %}
                {% include "snips/centralcirc_snip.html" with data=block.value%}
            {% elif block.block_type == 'circle_image_block' %}
                {% include "snips/instagramphotos.html" with data=block.value%}
            {% elif block.block_type == 'big_text_boxes' %}
                {% include "snips/bigtextboxes_snip.html" with data=block.value%}
            {% elif block.block_type == 'carousel_with_banner' %}
                {% include "snips/carousel_force1_snip.html" with data=block.value%}
            {% elif block.block_type == 'blog_list'%}
                {% include "snips/blog_block.html" with data=blogposts%}
            {% else %}
                {% comment %}
                {{ block.block_type }}
               <section class="block-{{ block.block_type }}">
                   {{ block }}
               </section>
               {% endcomment %}
            {% endif %}
        {% endfor %}

    {% endwith %}

    {% include "snips/navstick.html" %}

    {% include "snips/footer.html" %}
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}